

:root {

    --animation-speed: 0.2s
    -- toc-width: 18em;

}

body {
    font-family: "Calibri";
    white-space: nowrap;
    background-color: #303030;
    color: #D0D0D0;

    padding: 0;
    margin: 0;
}


.section{
    font-weight: bold;
    color: #E8E8D8
}

.entry{
    color: #C8B8B8;
    font-weight: normal;

}

.section > .line-wrapper{
    background-color:#00000020;
}

.comment{

    color: #C0A000

}

ul {
    padding-left:1em;
    list-style-type: none;

}


.comment-inline{

    font-style: italic;
    font-weight: normal;

}





.line-wrapper {

    display:inline-block;
    transition-duration: 0.2s;

    cursor: pointer;
    padding: 0.15em;
    width: 100%;


}


.line-wrapper:hover {

    transition-duration: 0.2s;

    background-color: #FFFFFF1A;
    display:inline-block;
    width: 100%;
}

.section.level-0 > .line-wrapper {

    display:inline-block;
    font-size:1.1em;
    font-weight: normal;
    color: #909090;
    background:#202020;

    padding:0.2em;

}




.hidden {

    visibility:hidden;
    display:none;

}


a{
  cursor: pointer;
  transition-duration: var(--animation-speed);
  color: #B0B0B0;
  text-decoration: none;
}

a:hover{
  transition-duration: var(--animation-speed);
  color: #FFFFFF;
  text-decoration: none;
}

.marked{
    color: #FF5000;
}

 .marked::after {
    content: "\2192  Clipboard";
    color: #FF5000;
  }

#grid-wrapper{
  display: flex;
  justify-content: space-between;
}



 #content {

    width: 100%;
    max-width: calc(100% - var(--toc-width));
    height:100%;
    overflow: auto;

 }

 #table-of-contents{

    width: var(--toc-width);
    height:calc(100vh - 3em);
    position: sticky;
    top: 0;


 }

 #table-of-contents-list{
    overflow-y: auto;
    overflow-x: hidden;
    max-height:100%;
 }

.attribute {

}

.value{
    color: #B0B0C0;
}


input {
    color: #D0D0D0;
    font-size:0.9em;
    padding:0.2em;
    background-color: #202020;
    border: none;
    width: 90%;
    margin-left:1em;

}

input:focus{

    outline: none;


}


